---
title: Home
description: Magô Analytics is a data consulting collective that aims to empower and
  enable organizations with limited data capabilities
image: images/mago_bg.jpg
bottom_image: images/background2.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">SEEING BEYOND 360°</h1>
      <p class="editable"><b style = "color: DarkOrange">magô </b><b style = "color: Orange">analytics</b> will help you see your data in a different perspective</p>
			<div class="cta button alt"><a href="#end">Contact us</a></div>
		</div>
	</div>
</section>

<div class="content">

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Mission & Vision</h2>
				<p class="editable"><b style = "color: DarkOrange">magô </b><b style = "color: Orange">analytics</b> is a <b>catalyst</b> for connection and change.</p>
				<p class="editable">We work with  <b>social impact organizations</b> to identify pathways for <b>growth</b> and <b>data driven insights</b>,</p>
				<p class="editable">and we partner with <b>forward-thinking local SMEs</b> who want to strengthen their <b>investment strategies</b> and <b>drive impact</b>.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/group.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Who are we?</h2>
				<p class="editable"><b style = "color: DarkOrange">magô </b><b style = "color: Orange">analytics</b> is a collective of learners that aims to practice the ethical use of data while promoting equity and social justice.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/group_pic.png" alt="Screenshot" />
			</div>
		</div>
	</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Values</h2>
					<dl>
					  <dt><p><b style = "color: DarkOrange">Continuous Learning</b></p></dt>
						<dd>We are a community of learners who value constant innovation and growth amidst the ever changing world.</dd>
						<dt><p><b style = "color: Orange">Data Ethics</b></p></dt>
						<dd>We advocate and uphold the fair, inclusive, and sustainable use of data for society.</dd>
						<dt><p><b style = "color: DarkOrange">Nation-building</b></p></dt>
						<dd>We strive to empower and enable organizations with limited data capabilities.</dd>
					</dl>
				</div>
				<div class="image">
					<img class="editable" src="images/values.jpg" alt="Screenshot" />
				</div>
			</div>
		</section>


<!--
	<section class="info">
		<div class="container flex">
			<div>
				<h2 class="editable">Some of our work</h2>
				<p class="editable">Curious about what we can do? Check some of our personal projects.</p>
			</div>
			<div>
				<ul class="image-grid">
					{% for client in site.staff_members limit: 4 %}
						<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section> -->

	<section class="pad">
		<div class="container">
			<h2 style="	text-align: center; "> Hear from the <b style = "color: DarkOrange">magô </b><b style = "color: Orange">analytics</b> team!</h2>
			<ul class="staff">
				{% for person in site.staff_members %}
          {% if person.main != True %}
  					<li>
  						<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
  						<div class="name"><a target="_blank" href="https://github.com/{{ person.github_username }}"><b>{{ person.name }}</b></a></div>
  						<div class="position">{{ person.position }}</div>
  					</li>
          {% endif %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">About <b style = "color: DarkOrange">magô </b><b style = "color: Orange">analytics</b></h2>
				<p class="editable"><b style = "color: DarkOrange">magô </b><b style = "color: Orange">analytics</b> started as a passion project of seven individuals. Coming from different backgrounds and perspectives, we found a common interest in continuous learning and social good. Now, our work focuses on creating a data driven Philippines.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/mag_icon.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section id = "end" class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<br><br><br>
		<div class="hero-text-container" style="	text-align: center; ">
			<h2 class="editable">Contact Us</h2><NOBR>
			<p>Our Email: <b>mago.analytics.mnl@gmail.com</p>
		</div>
		<div class="text-container contact-box">
			<form
			  action="https://formspree.io/mwkrrdag"
			  method="POST"
			>
			  <label>
			    <b>Your Email:
			    <input type="email" name="Sender Email Address" placeholder = "youremail@domain.com">
			  </label>
				<label>
			    <b>Your Name:
			    <input type="text" name="Sender Name" placeholder = "John Doe">
			  </label>
			  <label>
			    <b>Your Message:
			    <textarea name="Message" placeholder="Your message to us"></textarea>
			  </label>

			  <!-- your other form fields go here -->

			  <button type="submit" style = "background-color: orange;
				  border: none;
				  color: white;
				  padding: 16px 32px;
				  text-decoration: none;
				  margin: 4px 2px;
				  cursor: pointer;">
					<b>Send</b>
				</button>
			</form>
	</section>
</div>
