---
title: Theory of Change
description: Our visions of helping the different businesses in our country
image: "/images/background.jpg"
bottom_image: "/images/background2.jpg"
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Our Theory of Change</h1>
      <p class="editable">
				<b style = "color: DarkOrange">magô </b>
				<b style = "color: Orange">analytics</b>
				recognizes that there are different businesses in our country with their own respective data solution needs.</p>
		</div>
	</div>
</section>

<!-- Non Electronic Data -->

<div class="content" style="margin-bottom: -70px">
	<section style="	text-align: center;" class="info" id="learn-more">
		<h2 style="	text-align: center; "><b style = "color: DarkOrange">Unstructured </b><b style = "color: Orange">data</b></h2>
		<br>
		<div class="container flex">
			<div class="text">
				<h2 class="editable">1. Problem</h2>
				<img class="editable" src="/images/doc-1.png" alt="Screenshot" height = "250" />
				<p class="editable">Most of the business' data is stored on tediously managed documents or excel files.</p>
			</div>
			<div class="text">
				<h2 class="editable">2. Solution</h2>
				<img class="editable" src="/images/doc-2.png" alt="Screenshot" height = "250"/>
				<p class="editable">Through <b style = "color: DarkOrange">data </b><b style = "color: Orange">engineering</b>, the data will be transformed and safely stored in a database.</p>
			</div>
			<div class="text">
				<h2 class="editable">3. Outcome</h2>
				<img class="editable" src="/images/doc-3.png" alt="Screenshot" height = "250"/>
				<p class="editable">The company's data is safely stored in a database and is more accessible to everyone.</p>
			</div>
		</div>
	</section>
 </div>

<!-- Limited Data -->

<div class="content" style="margin-bottom: -70px">
		<section style="	text-align: center;" class="info" id="learn-more">
			<h2 style="	text-align: center; "><b style = "color: DarkOrange">Limited </b><b style = "color: Orange">data</b>, if not lacking</h2>
			<br>
			<div class="container flex">
				<div class="text">
					<h2 class="editable">1. Problem</h2>
					<img class="editable" src="/images/blocks-1.jpg" alt="Screenshot" height = "250" />
					<p class="editable">The business' current data is not enough to make usable insights</p><br>
				</div>
				<div class="text">
					<h2 class="editable">2. Solution</h2>
					<img class="editable" src="/images/blocks-2.jpg" alt="Screenshot" height = "250"/>
					<p class="editable">Through <b style = "color: DarkOrange">data </b><b style = "color: Orange">augmentation</b>, the team will utilize methods to utilize different new sources of data</p>
				</div>
				<div class="text">
					<h2 class="editable">3. Outcome</h2>
					<img class="editable" src="/images/blocks-3.jpg" alt="Screenshot" height = "250"/>
					<p class="editable">The company will have new insights to use for effective decision making</p>
				</div>
			</div>
		</section>
	</div>

<!-- Under Utilized Data -->
<div class="content">

			<section style="	text-align: center;" class="info" id="learn-more">
				<h2 style="	text-align: center; "><b style = "color: DarkOrange">Unutilized </b><b style = "color: Orange">data</b></h2>
				<br>
				<div class="container flex">
					<div class="text">
						<h2 class="editable">1. Problem</h2>
						<img class="editable" src="/images/data-2.png" alt="Screenshot" height = "250" />
						<p class="editable">The business may have data but doesn't know how to use it</p><br>
					</div>
					<div class="text">
						<h2 class="editable">2. Solution</h2>
						<img class="editable" src="/images/data-4.png" alt="Screenshot" height = "250"/>
						<p class="editable">By applying <b style = "color: DarkOrange">data </b><b style = "color: Orange">science</b>, we can generate new insights in the business</p>
					</div>
					<div class="text">
						<h2 class="editable">3. Outcome</h2>
						<img class="editable" src="/images/data-3.png" alt="Screenshot" height = "250"/>
						<p class="editable">The company has a stronger overview of the current state of the business</p>
					</div>
				</div>
			</section>
	</div>

	<section id = "end" class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<br>
		<br>
		<div class="hero-text-container" style="	text-align: center; ">
			<h2 class="editable">Contact Us</h2><NOBR>
			<p>Our Email: <b>mago.analytics.mnl@gmail.com</p>
		</div>
		<div class="text-container contact-box">
			<form
			  action="https://formspree.io/mwkrrdag"
			  method="POST"
			>
			  <label>
			    <b>Your Email:
			    <input type="email" name="Sender Email Address" placeholder = "youremail@domain.com">
			  </label>
				<label>
			    <b>Your Name:
			    <input type="text" name="Sender Name" placeholder = "John Doe">
			  </label>
			  <label>
			    <b>Your Message:
			    <textarea name="Message" placeholder="Your message to us"></textarea>
			  </label>

			  <!-- your other form fields go here -->

			  <button type="submit" style = "background-color: orange;
				  border: none;
				  color: white;
				  padding: 16px 32px;
				  text-decoration: none;
				  margin: 4px 2px;
				  cursor: pointer;">
					<b>Send</b>
				</button>
			</form>
	</section>
