---
layout: default
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>{{ page.title }}</h1>
			<p class="subtext">By
				{% for id in page.author_list %}
					{% assign author_id = id | prepend: "/staff_members/" | append: "/" %}
					{% assign author = site.staff_members | where: "url", author_id | first %}
					{% if forloop.last == true  and forloop.first != true%}
					  and
					{% endif %}
					{{author.fullname}}{% unless forloop.last %},{% endunless %}
				{% endfor %}
			</p>
		</div>
	</div>
</section>

{{ content }}
